* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

@font-face {
    font-family: "Pixel";
    src: url('../font/Pixel.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
    touch-action: none;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}

.recomecar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(128, 128, 128, 0.60);
}

.recomecar img {
    background-color: gray;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    z-index: 100;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(128, 128, 128, 0.60);
}

form{
    background: linear-gradient(0deg, #639301, #A5E82E);
    border: 1px solid #000;
    border-radius: 10px;
    height: 70%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form label{
    font-size: 30px;
    font-family: Oswald;
    text-decoration: underline;
    color: whitesmoke;
}

form select{
    width: 70%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #000;
    font-size: 20px;
    text-align: center;
}

form button{
    width: 40%;
    border-radius: 15px;
    font-size: 19px;
    cursor: pointer;
}

form button:hover{
    background-color: chartreuse;
}
